* {box-sizing: border-box;

}

body{
    font-family:'Mulish', sans-serif;
    margin:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background-color: darkcyan;
}

h1{
    font-size: 75px;
    font-weight: bolder;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
    color: darkcyan;
}
h2{
    color:darkmagenta;
}

.container{
    display: flex;
    width: 90vw;
}

.panel{
    background-size: auto 100%;
    background-position: center;
    background-repeat:no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position:relative;
    transition: flex 0.7s ease-in;
}
.panel h3{
    font-size: 24px;
    position:absolute;
    bottom:20px;
    left: 60px;
    margin:0;
    opacity: 0;
    
    
}
.panel.active{
    flex: 5;
}

.panel.active h3{
    opacity:1;
    transition: opacity 0.3s ease-in 0.4s;
    left: 110px;
    font-size: 50px;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 1px;
    color:black;
  
}
.card-one {
    background-image:url(./Assets/childish-gambino.jpg);
}

.card-two{
    background-image: url(./Assets/camp.webp);
}

.card-three{
    background-image:url(./Assets/because-the-internet.jpg);
}
.card-four{
    background-image: url(./Assets/atlanta.jpg);
}

.card-five{
    background-image: url(./Assets/guava-island.jpg);
}



.card-six{
    background-image: url(./Assets/swarm.jpg);
}

@media(max-width: 600px){
    .container {
        width: 100vw;
    }

    .panel:nth-of-type(5), .panel:nth-of-type(6){
        display: none;
    }
}